body{
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper{
    max-width: 600px;
    margin: 0 auto;
   
}
.container{
    max-width: 600px;
    border: 1px solid whitesmoke;
    border-radius: 8px;
    display: block;
    margin: 0 auto;

}

ul{
    list-style: none;
}
li {
    list-style: none;
    margin: 0;
    padding: 0;
  
    color: rgb(135, 135, 135);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;

  }
  
  li:first-letter {
    text-transform: capitalize;
  }
.cityName{
    color: #878787;
    font-size: 35px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 8px;
    margin-top: 25px;
}

   
.time-weather{
    padding:0;
    margin-left:0;
}
footer{
    text-align: center;
    margin-left: -335px;
    position: relative;
    margin-top: 6px;
    
}
footer a{
    text-decoration: none;
    opacity: 0.7;
}
#icon{
    margin-right: 5px;
    height: 64px;
    width: 64px;
}
footer{
    color: rgb(135, 135, 135)
}
.row #temperature-number{
  color: #878787;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}
#units a{
   position:relative;
   text-decoration: none;
   font-size: 16px;
   top: -34px;
   opacity: 0.7;

}
#search{
    opacity: 0.7;
}
.active{
    color:#878787;
    cursor:default;
}
.active:hover{
    text-decoration: none;
}
#weather-forecast{
    color:rgb(135, 135, 135);
    text-align: center;
    margin-top: 25px;
}
#tempMin{
    opacity: 0.65;
}